body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  text-align: center;
  box-sizing: border-box;
}
.buscador {
  max-width: 1080px;
  margin: 20px auto;
  padding: auto;
}
.buscador .buscador-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.buscador .btn-buscador {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
main {
  max-width: 1080px;
  height: calc(100vh - 140px);
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  border-radius: 9px;
  justify-content: space-evenly;
  overflow-y: scroll;
  background-color: #fff;
}

main .container-img {
  width: 200px;
  height: 200px;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
main .container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
